<!--The content below is only a placeholder and can be replaced.-->
<div class="divdetails" style="text-align:center">
  <h1>
    <div style="text-align:center">
      <span appChangeText>Welcome to {{title | uppercase}}.</span>
    </div>

    <div style="width:100%;">
      <div style="width:40%;float:left;border:solid 1px black;">
        <h1>Currency Pipe</h1>
        <b>{{6589.23 | currency:"USD"}}</b>
        <br/>
        <b>{{6589.23 | currency:"USD":true}}</b> //Boolean true is used to get the sign of the currency.

        <h1>Date pipe</h1>
        <b>{{todaydate | date:'d/M/y'}}</b>
        <br/>
        <b>{{todaydate | date:'shortTime'}}</b>

        <h1>Decimal Pipe</h1>
        // 3 is for main integer, 4 -4 are for integers to be displayed.
        <b>{{ 454.78787814 | number: '3.4-4' }}</b>
      </div>

      <div style="width:40%;float:left;border:solid 1px black;">
        <h1>Json Pipe</h1>
        <b>{{ jsonval | json }}</b>
        <h1>Percent Pipe</h1>
        <b>{{00.54565 | percent}}</b>
        <h1>Slice Pipe</h1>
        <b>{{months | slice:2:6}}</b>
        // here 2 and 6 refers to the start and the end index
      </div>

    </div>

  </h1>

  <h1>Custom Pipe</h1>
  <b>Square root of 25 is: {{25 | sqrt}}</b>
  <br/>
  <b>Square root of 729 is: {{729 | sqrt}}</b>

  <br />
  <a routerLink="mycmp">New component</a>
  <br />

  <br/>
  <router-outlet></router-outlet>


  <div> Months :
    <select (change)="changemonths($event)">
      <option *ngFor="let i of months">{{i}}</option>
    </select>
  </div>

  <br/>

  <div>
    <span *ngIf="isavailable; else condition1">Condition is valid.</span>
    <ng-template #condition1>Condition is invalid</ng-template>

  </div>
  <button (click)="myClickFunction($event)">
    Click Me
  </button>

  <h2>
    {{todaydate}}
    <app-mycmp></app-mycmp>
  </h2>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2 class="divdetails">Here are some links to help you start: </h2>
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </h2>
  </li>
</ul>

<ul *ngFor="let data of httpdata">
  <li>Name : {{data.name}} Address: {{data.address.city}}</li>
</ul>

{{name}}
<h2>Template Driven form</h2>
<form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">

  <input class="form-control" type="text" name="searchparam" [(ngModel)]="searchparam" ngModel/>

  <input type="text" name="emailid" placeholder="emailid" ngModel>
  <br/>
  <input type="password" name="passwd" placeholder="passwd" ngModel>
  <br/>
  <input type="submit" value="submit">
</form>

<h2>Model driven Form</h2>
<div>
  <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">

    <input type="text" class="fortextbox"  name="searchparam" placeholder="searchparam" formControlName="searchparam" [(ngModel)]="searchparam"/>
    <input type="text" class="fortextbox" name="emailid" placeholder="emailid" formControlName="emailid"  formControlName="emailid">
    <br/>

    <input type="password" class="fortextbox" name="passwd" placeholder="passwd" formControlName="passwd">
    <br/>

    <input type="submit" [disabled] ="!formdata.valid" class="forsubmit" value="Log In">
  </form>
</div>
<p>
  Email entered is : {{emailid}}
</p>

<h2>Animation Demo</h2>
<div class="animation">
    <button (click)="animate()">Click Me</button>
    <div [@myanimation] = "state" class="rotate">
       <img src="assets/images/img.png" width="100" height="100">
    </div>
 </div>