div {
    background-color: lightcoral;
}
:host:hover { 
    font-size: 25px;
}
/* .angularApp is defined in template.ts index.html

 */
:host-context(.angularApp) input {
    background-color: lightgray;
}
